

.mainCate{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-right: 5rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* background-color: bisque; */
}

.mainCate h1{
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
}


.mainCate .cateLists{
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* background-color: aqua; */
}


.mainCate .cateLists a{
    /* background-color: rgb(101, 101, 101); */
    color: rgb(78, 67, 224);
    text-decoration: none;
    font-size: 2rem;
    margin-top: 2rems;
}


.mainCate .cateLists a:hover{
    color: black;
}